* {font-family: 'Noto Sans JP', sans-serif;}

* {box-sizing: border-box; padding: 0; margin: 0;}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    background-color: dodgerblue;
    font-size: 2rem;
}

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
    top: 20px; left: 10px;
    font-size: 2rem;
    color: pink;
}

.pos-relative img {
    width: 100%;
}

.capitais {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
    background-color: lightblue;
    padding: 50px
}

.capitais div {
    display: flex;
    justify-content: space-around;
    /* display: inline-block; */
    border-radius: 20px;
    box-shadow: 5px 5px 15px #888;
    margin: 10px 0 10px 0;
}

.capitais div img {
    border-radius: 20px 0 0 20px;
    /* height: 100%; */
    margin-left: 10px;
}

.capitais div div:nth-child(2) {
    margin-right: 10px;
}

.capitais div div:last-child {
    width: 150px;
    background-color: white;
    padding: 20px;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    position: relative;
}

.wrapper img {
    clip: rect(0px,60px,200px,0px);
    border-radius: 20px 20px 20px 20px;
    width: 300px;
    height: 200px;
}

.wrapper div p {
    position: absolute;
    bottom: 5px;
    left: 15px;
    color: white;
}

.wrapper div:hover {
    display: none;
}

.foot {
    position: absolute;
    z-index: 0;
    top: 50px;
    left: 20px;
}

.car {
    position: absolute;
    z-index: 1;
    top: 120px;
    left: 120px;
}

.train {
    border-radius: ;
    position: absolute;
    z-index: 2;
    top: 220px;
    left: 220px;
}

.plane {
    position: absolute;
    z-index: 3;
    top: 320px;
    left: 320px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    color: black;
}

header a {
    padding: 20px;
    text-decoration: none;
    color: black;
}

header a:hover {
    font-weight: bold;
    color: blue;
}